<!--The content below is only a placeholder and can be replaced.-->
<div id="home-wave">
  </div>
<div class="container home-banner">
  <h1>
    Convert your Media files to mp3 easy!
  </h1>
  <i class="material-icons featured-icon">music_video</i>  
</div>
<div class="container">

<div class="media-conversion">

        <div class="md-form input-group ">
          <mat-form-field>
              <input matInput placeholder="Youtube Link" [(ngModel)]="inputUrl">
            </mat-form-field>
            <div class="input-group-append">
                <button mat-button mat-raised-button mat-lg color="primary" class="btn-lg" (click)="convertFile()"><i class="material-icons">queue_play_next</i> Convert</button>
            </div>
        </div>   
</div>

</div>
<app-media-list></app-media-list>
<router-outlet></router-outlet>
